
body {
  background-color: darkgreen;
}

#board {
  width: 880px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.paddle {
  background-color: rgb(209, 209, 209);
  width: 10px;
  height: 50px;
  border-radius: 15px;
  position: absolute;
}

#paddleLeft {
  left: 10px;
  top: 10px;
}

#paddleRight {
  left: 860px;
  top: 10px;
}

#ball {
  background-color: rgb(255, 123, 0);
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
  position: absolute;
  left: calc(50% - 37.5px);
  top: calc(50% - 37.5px);
}

#score1 {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 25px;
  position: absolute;
  left: 820px;
  top: -10px;
}

#score2 {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: -10px;
}
